<html>

<h3>Add Finish:</h3>
<form id="addfinish" action="/finishes" method="post">
    Name: <input required type="text" name="name"><br>
    Price: <input required type="number" min="0.00" step="0.01" name="price"><br>
    <input type="submit" value="Submit">
</form>


<h3>Search Finish by Name:</h3>
<form id='search_finish' action='' method=''>
    <!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search finish by name:</label>
    <input required id='finish_search_string' type='text' name='finish_search_string' value=''>
    <input type="button" value="Search" onclick="searchFinishByName()">
</form>

<h3>Finishes:</h3>
<table class="table" cellspacing=3 cellpadding=5 id="order_table">
    <thead>
    <th>Name</th>
    <th>Price</th>
    </thead>

    <tbody>
    {{#each finishes}}
        <tr>
            <td>{{finish_title}}</td>
            <td>{{finish_price}}</td>
            <td><button class='delete_icon' onClick="deletefinish({{finish_id}})"></button></td>
        </tr>
    {{/each}}
    </tbody>
</table>
</html>
